<div class="card card-flush h-xl-100">
<!--begin::Heading-->
<div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url('assets/media/svg/shapes/top-green.png')" data-bs-theme="light">
    <!--begin::Title-->
    <h3 class="card-title align-items-start flex-column text-white pt-15">
        <span class="fw-bold fs-2x mb-3">My Tasks</span>
        <div class="fs-4 text-white">
            <span class="opacity-75">You have</span>
            <span class="position-relative d-inline-block">
                    <a href="@stats.TasksLink" class="link-white opacity-75-hover fw-bold d-block mb-1">@stats.TaskCount tasks</a>
                <!--begin::Separator-->
                <span class="position-absolute opacity-50 bottom-0 start-0 border-2 border-body border-bottom w-100"></span>
                <!--end::Separator-->
            </span>
            <span class="opacity-75">to complete</span>
        </div>
    </h3>
    <!--end::Title-->
</div>
<!--end::Heading-->
<!--begin::Body-->
<div class="card-body mt-n20">
    <!--begin::Stats-->
    <div class="mt-n20 position-relative">
        <!--begin::Row-->
        <div class="row g-3 g-lg-6">
            <!--begin::Col-->
            <div class="col-6">
                <!--begin::Items-->
                <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                            <i class="ki-outline ki-flask fs-1 text-primary"></i>
                        </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                        <!--begin::Number-->
                            <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@stats.CoursesCount</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Courses</span>
                        <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Items-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6">
                <!--begin::Items-->
                <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                            <i class="ki-outline ki-bank fs-1 text-primary"></i>
                        </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                        <!--begin::Number-->
                            <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@stats.CertificatesCount</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Certificates</span>
                        <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Items-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6">
                <!--begin::Items-->
                <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                            <i class="ki-outline ki-award fs-1 text-primary"></i>
                        </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                        <!--begin::Number-->
                            <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@stats.AvgScore</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Avg. Score</span>
                        <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Items-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6">
                <!--begin::Items-->
                <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                            <i class="ki-outline ki-timer fs-1 text-primary"></i>
                        </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                        <!--begin::Number-->
                            <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">@stats.HoursLearned</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Hours Learned</span>
                        <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Items-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Stats-->
</div>
<!--end::Body-->
</div>

@code
{
    public class Stats
    {
        public string TasksLink { get; set; }
        public int TaskCount { get; set; }
        public int CoursesCount { get; set; }
        public int CertificatesCount { get; set; }
        public decimal AvgScore { get; set; }
        public int HoursLearned { get; set; }
    }

    Stats stats = new Stats()
    {
        TasksLink = "/test",
        TaskCount = 5,
        AvgScore = 10.5m,
        CoursesCount = 10,
        CertificatesCount = 5,
        HoursLearned = 400
    };
}
